body {
  font-family: 'Roboto Mono',monospace;
  font-size: 40px;
  text-align: center;
  background-image: url('../img/fundo.png');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
  margin-top: 1%;
}

body h1{
  font-size: 140px;
  font-variant: small-caps;
  color: red !important;
  font-style: italic;
}

body img{
  width: 250px;
  height: 250px;
  text-align: center;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}


body > img {
  margin: 0 10px;

}

div{
  display: inline-block;
}

div img{
  display: block;
}
